{{#if model}}

  {{screen-backend-sections-section-edit
      model=model
      saved=(action (route-action 'showSection'))
      cancelled=(action 'cancelled')}}

{{else}}

  {{ui-backend-header title='Choose new section type'}}

  {{#ui-backend-block}}
    {{#each backend.sectionModels as |model|}}
      {{#ui-backend-row action=(action 'select' model.name)}}
        {{model.title}}
        <span class="small">{{model.description}}</span>
      {{/ui-backend-row}}
    {{/each}}
  {{/ui-backend-block}}

{{/if}}
