{{ui-backend-header title=section.title_ subtitle='Upload images'}}

{{#ui-backend-block}}
  {{#each images as |image|}}
    {{#ui-backend-row}}
      {{#if image.attachments.original.isLoaded}}
        <div><img src={{image.attachments.original.url}}/></div>
      {{else if image.attachments.original.isLoading}}
        <div>Loading…</div>
      {{else}}
        <div>Erorr loading</div>
      {{/if}}
      <div>{{image.filename}}</div>
    {{/ui-backend-row}}
  {{else}}
    {{#ui-backend-row}}
      No images added
    {{/ui-backend-row}}
  {{/each}}
{{/ui-backend-block}}

{{#ui-backend-block}}
  {{#ui-backend-row}}
    {{ui-backend-file multiple=true action=(action 'files')}}
    {{ui-backend-button title='Save' action=(action 'save')}}
    {{ui-backend-button title='Cancel' action=(action 'cancel')}}
  {{/ui-backend-row}}
{{/ui-backend-block}}
