{{#draggable-object class='draggable' content=model isSortable=true}}
  {{#draggable-object-target action=(action 'drop') dragOverAction=(action 'over') dragOutAction=(action 'out')}}
    <div class="content" {{action 'click'}}>
      <div class="title">{{model.title_}}</div>
      <div class="info">{{model.modelScreenName}} {{model.position}}</div>
    </div>
    {{#if nested}}
      <div class="nested">
        {{#each nested as |model|}}
          {{ui-backend-sections-tree-item model=model select=attrs.select}}
        {{/each}}
      </div>
    {{/if}}
  {{/draggable-object-target}}
{{/draggable-object}}
