<div class="content" {{action 'click'}}>
  <div class="title">{{model.title_}}</div>
  <div class="info">{{model.modelScreenName}} <span style="font-size: 11px">pos: {{model.position}}</span></div>
</div>
{{#if nested}}
  <div class="nested">
    {{#each nested as |nestedModel|}}
      {{ui-backend-sections-tree-item model=nestedModel select=attrs.select reorder=attrs.reorder}}
    {{/each}}
  </div>
{{/if}}
