{{frontend-menu sections=store.db.main.sections}}
<br/>
<br/>
<div>{{model.path}}</div>
<div>{{model.modelScreenName}}: {{model.title_}}</div>
<div>{{model.body}}</div>
<br/>
<div>{{#link-to 'index'}}&larr;{{/link-to}}</div>
