<div class="translate" style={{translate}}>
  {{#each images as |image|}}
    <div class="image" style={{imageStyle}} {{action 'next'}}>
      {{ui-frontend/image src=image.attachments.original.url maxWidthSelector='.ui-frontend-section'}}
      {{ui-frontend/image-description image=image class='description'}}
    </div>
  {{/each}}
</div>
