{{#if (ui-not (ui-blank section.description))}}
  {{#ui-backend/block}}
    {{ui-backend/row/value value=section.description markdown=true}}
  {{/ui-backend/block}}
{{/if}}

{{#ui-backend/sections/section/index/rows section=section}}
  {{ui-backend/row/value
      title='Gallery Type'
      value=(ui-join section.galleryTypeModel.title section.galleryTypeModel.description delimiter=' – ')
  }}
  {{ui-backend/row/value
      title='Filenames'
      value=(if section.showImageFilenames 'Show without extension' 'Hide image filenames')
  }}
{{/ui-backend/sections/section/index/rows}}

{{#ui-backend/block}}
  {{#if section.images.isLoaded}}
    {{#if section.images}}
      {{#ui-backend/grid class='images' array=section.sortedImages reorder=(action 'reorder') as |image|}}
        {{ui-background-image class='image' url=image.attachments.original.url}}
        <div class="description">{{image.filenameWithoutExtension}}</div>
        {{#if image.description}}
          <div class="description">{{image.description}}</div>
        {{/if}}
        <div class="delete" {{action 'deleteImage' image}}>{{fa-icon 'trash-o' class='icon'}}</div>
      {{/ui-backend/grid}}
    {{else}}
      {{#ui-backend/row}}No images added{{/ui-backend/row}}
    {{/if}}
  {{else}}
    {{#ui-backend/row}}Loading images…{{/ui-backend/row}}
  {{/if}}
{{/ui-backend/block}}

{{#ui-backend/sections/section/index/actions section=section}}
  {{ui-backend/button title='Upload' action=(action 'upload')}}
{{/ui-backend/sections/section/index/actions}}
