{{ui-backend-header title=(if section.isNew 'New gallery' 'Edit gallery')}}

{{#ui-backend-block}}
  {{ui-backend-row-input title='Title' value=section.pageTitle}}
  {{ui-backend-row-input title='Menu title' value=section.menuTitle placeholder='Optional'}}
  {{ui-backend-row-textarea title='Description' value=section.description}}
  {{ui-backend-row-checkbox title='Gallery is public' value=section.visible}}
{{/ui-backend-block}}

{{#if section.galleryTypeModel}}
  {{ui-backend-header title='Gallery type' subtitle=(ui-join section.galleryTypeModel.title section.galleryTypeModel.description delimiter=' – ') class='subheader'}}
  {{#ui-backend-block}}
    {{ui-backend-row-checkbox title='Show image filename if image has no description' value=section.showImageFilenames}}
    {{#unless section.isNew}}
      {{#ui-backend-row}}
        {{ui-backend-button title='Change type' action=(action 'deselectType')}}
      {{/ui-backend-row}}
    {{/unless}}
  {{/ui-backend-block}}
{{else}}
  {{ui-backend-header title='Gallery type' class='subheader'}}
  {{#ui-backend-block class='title-description'}}
    {{#each backend.galleryTypes as |type|}}
      {{#ui-backend-row action=(action 'selectType' type)}}
        <div class="title">{{type.title}}</div>
        <div class="description">{{type.description}}</div>
      {{/ui-backend-row}}
    {{/each}}
  {{/ui-backend-block}}
{{/if}}

{{#unless section.isNew}}
  {{ui-backend-header title='Images' class='subheader'}}
  {{#ui-backend-block class='images'}}
    {{#if section.images.isLoading}}
      {{#ui-backend-row}}Loading…{{/ui-backend-row}}
    {{else if section.images.isLoaded}}
      {{#each section.sortedImages as |image|}}
        {{#ui-backend-row class='image'}}
          <div class="image">
            {{ui-backend-background-image class='image' url=image.attachments.original.url}}
          </div>
          <div class="info">
            <div class="item filename">{{image.filename}}</div>
            <div class="item description">{{textarea placeholder='description' value=image.description}}</div>
          </div>
        {{/ui-backend-row}}
      {{else}}
        {{#ui-backend-row}}No images added{{/ui-backend-row}}
      {{/each}}
    {{/if}}
  {{/ui-backend-block}}
{{/unless}}

{{#ui-backend-block}}

  {{#ui-backend-row}}
    {{#if (ui-and section.isNew section.galleryTypeModel)}}
      {{ui-backend-button title='Change type' action=(action 'deselectType')}}
    {{/if}}
    {{ui-backend-button title='Save' action=(action 'save')}}
    {{#if section.isNew}}
      {{ui-backend-button title='Cancel' action=(action 'cancel')}}
    {{/if}}
  {{/ui-backend-row}}

{{/ui-backend-block}}
