{{#if (ui-not (ui-blank section.description))}}
  {{markdown-convert content=section.description class='description markdown'}}
{{/if}}

{{#if section.images.isLoading}}
  <div class="message">Loading…</div>
{{else if section.images.isError}}
  <div class="message">Sorry, images failed to load</div>
{{else if section.images.isLoaded}}
  {{#if section.images.length}}
    <div class="images">
      {{#each section.sortedImages as |image|}}
        <div class="image">
          {{ui-frontend/image src=image.attachments.original.url maxWidthSelector='.ui-frontend-section' class='image'}}
          {{ui-frontend/image-description image=image class='description'}}
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="message">This gallery is empty</div>
  {{/if}}
{{/if}}
