{{#if section.isLink}}
  <div class="title"><a href={{section.url}} rel="noopener noreferrer" target={{if section.tab '_blank'}}>{{section.menuTitle_}}</a></div>
{{else}}
  <div class="title">{{#link-to 'sections.section' section}}{{section.menuTitle_}}{{/link-to}}</div>
{{/if}}
{{#if subsections}}
  <div class="nested">
    {{#each subsections as |section|}}
      {{frontend-menu-item section=section}}
    {{/each}}
  </div>
{{/if}}
