{{#if (ui-not (ui-blank section.description))}}
  {{markdown-convert content=section.description class='description markdown'}}
{{/if}}

{{#if section.images.isLoading}}
  <div class="message">Loading…</div>
{{else if section.images.isError}}
  <div class="message">Sorry, images failed to load</div>
{{else if section.images.isLoaded}}
  {{#if section.images.length}}
    <div class="navigation">
      <div class="item icon" {{action 'prev'}}>{{fa-icon 'chevron-left'}}</div>
      <div class="item index">{{selectedImageIndex.index}} / {{selectedImageIndex.length}}</div>
      <div class="item icon" {{action 'next'}}>{{fa-icon 'chevron-right'}}</div>
    </div>
    {{frontend-carousel
        maxWidthSelector='.frontend-section'
        class='images'
        images=section.sortedImages
        selectedImage=selectedImage
        next=(action 'next')
        prev=(action 'prev')
    }}
  {{else}}
    <div class="message">This gallery is empty</div>
  {{/if}}
{{/if}}
