{{#if model}}

  {{screen-backend/content/edit model=model saved=(action (route-action 'showSection'))}}

{{else}}

  {{ui-backend-header title='Choose new section type'}}

  {{#each backend.sectionModelNames as |name|}}
    <div {{action 'selectModelName' name}}>{{name}}</div>
  {{/each}}

{{/if}}
